[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.8"

[scripts]
app = "uvicorn src.app:app --reload"
test = "pytest -vs"
